name: union_shop
description: A Flutter project for managing a union shop.
environment:
  sdk: ">=2.12.0 <3.0.0"
dependencies:
  flutter:
    sdk: flutter
dev_dependencies:
  flutter_test:
    sdk: flutter
  test: ^1.16.0